$primary-background: rgb(33, 33, 33);
$secondary-background: #414040;
$background-light: #f9f9f9e4;
$text-dark: #667;
$text-light: #cfd4db;
$text-black: #000000;
$background-light: #f9f9f9e4;
$text-white: #ffffff;
$text-name: rgb(82, 82, 228);
$font-main: 'Archivo', sans-serif;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
