@use '../styles/abstracts/index' as *;

.about {
  @include flex-center;
  background: $secondary-background;
  height: 100vh;
  color: $text-white;
  font-family: $font-main;

  .about-section {
    max-width: 1500px;
    margin: auto;
    padding: 80px 20px;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .underline {
      width: 60px;
      height: 4px;
      background-color: $text-name;
      margin: 0 auto 70px auto;
      border-radius: 2px;
    }

    .about-content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
      flex-wrap: wrap;
      text-align: left;

      .about-img {
        padding: 15px;
        width: 230px;
        height: 230px;
        border: 5px solid $primary-background;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 15px;
          left: 15px;
          width: 100%;
          height: 100%;
          border: 1px solid #fff;
          z-index: -1;
        }
      }

      .about-text {
        max-width: 600px;

        p {
          line-height: 1.6;
          margin-bottom: 25px;
          color: #ddd;
        }

        .info-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px 10px;

          .info-item {
            font-size: 1rem;

            strong {
              display: inline-block;
              width: 100px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
