@use '../styles/abstracts/index' as *;

.hero {
  @include flex-center;
  height: 100vh;
  position: relative;
  font-family: $font-main;

  .hero-content {
    display: flex;
    align-items: center;
    gap: 2rem;

    /* 📱 Tablet */
    @media (max-width: 1024px) {
      gap: 1.5rem;
    }

    /* 📱 Mobile */
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .hero-img {
    padding: 5px;
    width: 200px;
    height: 200px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    /* scale down for small screens */
    @media (max-width: 768px) {
      width: 150px;
      height: 150px;
      margin-bottom: 1.5rem;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: $text-white;

      span {
        color: $text-name;
      }

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.25rem;
      color: $text-white;
      margin: 0 0 1.5rem;

      @media (max-width: 768px) {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .hero-button {
    display: flex;
    gap: 1rem;

    .btn-primary {
      font-family: Archivo, sans-serif;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 0.8rem;
      padding: 1.3rem;
      letter-spacing: 0.3px;
      background: rgb(38, 38, 126);
      transition: background 0.2s ease;

      &:hover {
        background: darken($primary-background, 5%);
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;

      .btn-primary {
        width: 100%;
      }
    }
  }

  .arrow-down {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: $text-white;
    cursor: pointer;

    @media (max-width: 768px) {
      bottom: 2rem;
    }
  }
}
