@use '../styles/abstracts/index' as *;

.navbar-container {
  @include flex-center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;

  .navbar {
    height: 5vh;
    width: 75%;
    background: $background-light;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    transition: transform 0.3s ease-in-out;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .navbar-logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .logo-img {
        height: 100px;
        width: auto;
      }

      .logo-text {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-background;
      }
    }

    .navbar-menu {
      border-bottom: none;
      font-family: $font-main;
      font-weight: 500;
      font-size: 0.8rem;
      background: transparent;
      color: $text-dark;

      .ant-menu-item {
        a {
          color: $text-black;
          text-decoration: none;
        }
        .icon {
          color: $text-black;
        }
      }
    }
  }

  .navbar-hide {
    transform: translateY(-150%);
  }

  .navbar-show {
    transform: translateY(0);
  }
}
