@use '../styles/abstracts/index' as *;

.social-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: $secondary-background;
  padding: 12px 14px;
  border-radius: 16px;
  z-index: 3000;
}

.social-container a {
  color: white;
  font-size: 20px;
  transition: color 0.3s;

  &:hover {
    color: #007bff;
  }
}

@media (max-width: 480px) {
  .social-container {
    flex-direction: column;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    gap: 12px;

    a {
      font-size: 18px;
    }
  }
}
