@use '../styles/abstracts/index' as *;

.glass-toggle {
  position: absolute;
  top: 5rem;
  right: 7.5%;
  width: 80px;
  height: 40px;
  background: var(--secondary-background);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  color: var(--color);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  .toggle-circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 0.4s ease;
    padding: 4px;
    color: var(--text-color);

    &.dark {
      transform: translateX(20%);
    }

    &.light {
      transform: translateX(calc(100% - 0px));
    }
  }
}

body.light-mode {
  background: var(--primary-background);
  color: var(--color);
}

@media (max-width: 768px) {
  .glass-toggle {
    top: 100px;
    right: 20px;
    width: 60px;
    height: 30px;

    .toggle-circle {
      width: 24px;
      height: 24px;

      &.light {
        transform: translateX(28px);
      }
    }
  }
}
