@use '../styles/abstracts/index' as *;

html,
body {
  height: 100%;
  margin: 0;
  background: var(--primary-background);
  color: var(--text-color);
  font-family: $font-main;
  scroll-behavior: smooth;
}

.theme-toggle-button {
  position: absolute;
  top: 100px;
  right: 100px;
  background: var(--secondary-background);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
